.about-us {
  .about-us-title {
    text-align: center;
  }
  .about-us-ads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about-us-ad {
      a {
        width: 100%;
        color: black;
        text-decoration: none;
        img {
          width: 100%;
        }
        .about-us-ad-content {
          padding: 25px 10%;
        }
      }
    }
  }
  .about-us-gallery {
    justify-content: space-between;
    .gallery-item-one {
      img {
        width: 100%;
      }
      h3 {
        font-size: 18px;
      }
    }
    .gallery-item-two {
      img {
        width: 100%;
      }
    }
    .gallery-item-three {
      .about-us-statements {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        .about-us-statement {
          width: 50%;
          h3 {
            font-size: 21px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
  .about-us-featured-by {
    padding-top: 50px;
    &-title {
        text-transform: uppercase;
        text-align: center;
    }
    &-links {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;

        a {
            width: 10%;
        }
    }
  }
}
