/* Fonts */
$site-font1 : 'brandon-grotesque';
$site-font2 : 'myriad-pro';

/* Colors */
$color-primary: #DA291C !important;
$color-primary-dark: #C3291C !important;
$color-white: #FFF !important;
// $color-black: #3c4141 !important;
$color-black: #000000 !important;
$color-red: #ff0000 !important;
$color-green: #008000 !important;
$color-light-blue: #d1ecff !important;
$color-yellow: #f9bd28 !important;
$color-grey-dark: #303E48 !important;
$color-grey-light: #485e69 !important;
$color-light-blue: #D1ECFF !important;


/* Breakpoints */
$breakpoints: (
  phone_sm: 320px,
  phone_md: 376px,
  phone_400: 400px,
  phone_lg: 425px,
  phone_ls: 480px,
  phone: 600px,
  tablet: 767px,
  laptop: 1024px,
  laptop_md: 1199px,
  laptop_lg: 1440px,
  laptop_super_lg: 1920px
);
