<div class="container about-us">
    <h1 class="about-us-title">
        MAKE BETTER THINGS. <br> NO RISK. NO WASTE
    </h1>
    <div class="about-us-ads row">
        <div class="about-us-ad col-sm-6">
            <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/image.png?v=1595786790" alt="">
                <div class="about-us-ad-content">
                    <h2>SELL YOUR STUFF RISK FREE</h2>
                    <p>Get the tools to make, distribute & promote your creations without the guesswork.</p>
                </div>
            </a>
        </div>
        <div class="about-us-ad col-sm-6">
            <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/image.png?v=1595786790" alt="">
                <div class="about-us-ad-content">
                    <h2>SELL YOUR STUFF RISK FREE</h2>
                    <p>Get the tools to make, distribute & promote your creations without the guesswork.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="about-us-gallery row">
        <div class="gallery-item-one col-sm-2">
            <img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/Rectangle.png?v=1595788606" alt="">
            <h3>MADE WITH LOVE IN OUR PRODUCTION FACILITY IN TORONTO</h3>
        </div>
        <div class="gallery-item-two col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/Rectangle2.png?v=1595788607" alt="">
        </div>
        <div class="gallery-item-three col-sm-6">
            <h1>WE'RE CHANGING THE WAY THINGS GET MADE.</h1>
            <div class="about-us-statements">
                <div class="about-us-statement">
                    <h3>MISSION</h3>
                    <p>We're on a mission to empower creative independence in a commercial world.</p>
                </div>
                <div class="about-us-statement">
                    <h3>SUSTAINABLE</h3>
                    <p>We are challenging the conventional retail, putting an end to dead stock and unconventional waste</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-featured-by"> 
        <h1 class="about-us-featured-by-title">USED AND FEATURED BY</h1>
        <div class="about-us-featured-by-links">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/dazed-and-confused-magazine-vector-logo.svg?v=1595790166"></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/dazed-and-confused-magazine-vector-logo.svg?v=1595790166"></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/dazed-and-confused-magazine-vector-logo.svg?v=1595790166"></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/dazed-and-confused-magazine-vector-logo.svg?v=1595790166"></a>
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0047/8393/1503/files/dazed-and-confused-magazine-vector-logo.svg?v=1595790166"></a>
        </div>
    </div>
</div>