.register {
  &__wrapper {
    padding: 3em 0 0.5em 0;
    color: $color-grey-dark;
  }

  &__wrapper input{
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  &__title {
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    color: $color-grey-dark;
    text-transform: uppercase;
    line-height: 40px;

  }

  &__form-group input,
  &__form-group select{
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    color: $color-grey-dark;

  }

  &__error {
    margin-left: 2.8em;
    text-transform: uppercase;


    &--textfield {
      position: relative;
      top: -13px;
      text-transform: uppercase;
    }
  }

  &__btn {
    width: 270px;
    margin: 0 auto;
    font-size: 1.73em;
    font-weight: 900;
    background: $color-yellow;
    margin-top: 1.3em;

    @include media('<=phone_lg'){
      width: 100%;
    }
  }

  &--showbtn {
    color: lightgray;
    background: white;
    padding: 9px 4px;
    // left: 87%;
    right:-8px;
    top: 36px;
    transform: translateX(-18%);
    height: 39px;
    display: inline-block;
    border-left: 1px solid lightgray;
    cursor: pointer;
    position: absolute;
    width: 57.27px;
    text-align: center;

    @include media('<=phone_lg'){
      left: 83%;
      transform: translateX(-34%);
    }

    @include media('<=phone_400'){
      top: 59px;
    }

    &--02 {
      color: lightgray;
      background: white;
      padding: 9px 4px;
      // left: 87%;
      right: -8px;
      top: 36px;
      transform: translateX(-18%);
      height: 39px;
      display: inline-block;
      border-left: 1px solid lightgray;
      cursor: pointer;
      position: absolute;
      width: 57.27px;
      text-align: center;

      @include media('<=phone_lg'){
        left: 83%;
        transform: translateX(-34%);
      }
    }
  }
}


.checkbox .fa {
  font-size: 2em;
}

div.checkbox{
  label{
    span{
     a{
       text-decoration: none;
        color: $color-grey-dark;
     }
    }
  }
}
