#dd, #mm
{
  width: 3em;
  display: inline-block;
  padding: 12px 5px;

}
#yyyy
{
  width: 4em;
  display: inline-block;

}
.modal .form-group
{
  display: inline-block;
  width: auto;
  margin: 15px auto;
}
.ageError, .invalidAge
{
  display: none;
  color: red;
}
