.howTo {
    background: #F7B60A;
    color: #1E2A32;
    padding: 20px 0 10px;

    &__title {
        color: #1E2A32;
        font-size:37px;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__step {
        width: 230px;
        margin: 0px 30px;
        text-align: center;

        &--title {
            margin-bottom: 10px;
            font-size:30px;
            font-weight: 800;
            text-transform: uppercase;
            display:inline-block;
        }

        &--img {
            display: flex;
            justify-content: center;
            align-items: center;
            height:110px;
        }

        &--detail {
            font-size:24px;
            padding-bottom: 20px;
            margin:auto;
            line-height:30px;

            &.shorter {
                max-width:215px;
            }
        }
    }

    @media(max-width: 1190px) {
        .row-c.aitem-fs {
            margin: 0 5%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__step {
            width:31%;
            margin: 15px 1%;
        }
    }
    
    @media(max-width: 750px) {
        .row-c.aitem-fs {
            margin: 0 5%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__step {
            width:47%;
            margin: 1%;
            
            &--detail {
                font-size:16px;
            }
        }
    }
}