.navbar {
  background-color: $color-light-blue;

  &__text {
    color: $color-white;
    font-weight: 700;

    &--link {
      color: $color-white;

      &:hover {
        color: $color-grey-dark;
      }
    }
  }
  &-brand {
    @include media('<tablet'){
      max-width: 200px;
    }
  }
}

.nav-item
{

  @include media('<tablet'){
    text-align: center;
    border-bottom: 1px solid grey;
  }

  &:last-child {
    border-bottom: none;
  }

}

.nav-link {
  font-family: $site-font2, sans-serif;
  color: $color-black;
  font-weight: 900;
  font-size: 1.1em;
  padding: 8px 15px !important;
}
