.header {

  &__box {

    display: block;
    position: relative;

  }

  &__logos {

    // max-width: 232px;
    max-width: 295px;
    padding: 10px;
    @include media('<tablet'){
      max-width: 220px;
    }
  }

}

.first-logo
{
  margin-right: 20px;
}

.first-logo, .second-logo
{
  width: 44%;

  @include media('<tablet'){
    width: 33%;
  }
  
}
.width-fr{
  width: 75%;
  @include media('<tablet'){
    width: 50%;
  }
}


// 2020/07 update
.logo-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  color: white;
  padding: 3vw;
  
    .stitchnwin-logo {
      width: 70%;
    }
    .logo-detail-box {
      .logo-detail {
        font-size: 2.5vw;
        line-height: 2.4vw;
        margin: 1.7vw 0 1.4vw;
        font-family: $site-font2;
        font-weight: 700;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      }
      .logo-subdetail {
        font-size: 1.5vw;
        font-weight: 700;
        line-height: 1.7vw;
        font-family: $site-font2;
      }
    }

    &.afterEntry {
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 5vw;
      
      .stitchnwin-logo {
        width: 30%;
        margin-right: 6vw;
      }

      .logo-detail-box {
        width: 70%;
        padding-left: 6vw;
        border-left: 3px solid white;

        .logo-detail {
          font-size: 4vw;
          line-height: 4.2vw;
          margin: 0 11vw 1.4vw 0;
            font-family: $site-font2;
            font-weight: 700;
        }

        .logo-subdetail {
          font-size: 2.2vw;
          font-weight: 700;
          line-height: 2.4vw;
          font-family: $site-font2;
        }
      }

    }

    @media(max-width:767px) {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        background: url("../img/header_new_mobile.png");
        background-size: cover;
        padding: 30px 3vw; 

      .stitchnwin-logo {
        margin-right: 6vw;
        width: 30%;
      }

      .logo-detail-box {
        padding-left: 6vw;
        border-left: 1px solid white;
        width: 70%;

        .logo-detail {    
          font-size: 35px;
          line-height: 33px;
          margin: 0 0 15px;
          font-weight: 700;
        }
        .logo-subdetail {
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
        }
      }

      &.afterEntry {
        padding: 4vw;
        
        .logo-detail-box {
          .logo-detail {
            font-size: 5.3vw;
            line-height: 5.5vw;
            margin: 0 0 1.4vw 0;
          }
  
          .logo-subdetail {
            font-size: 3.3vw;
            line-height: 3.5vw;
          }
        }
  
      }
    }

    @media(max-width: 500px) {
      
      .logo-detail-box {
        .logo-detail {    
          font-size: 6.5vw;
          line-height: 6.7vw;
          margin: 0 0 1.4vw;
          font-weight: 700;

        }
        .logo-subdetail {
          font-size: 4vw;
          line-height: 4.2vw;
          font-weight: 700;
        }
     }
     &.afterEntry {
      padding: 4vw;
      
      .logo-detail-box {
        .logo-detail {
          font-size: 7vw;
          line-height: 7.2vw;
          margin: 0 0 1.4vw 0;
        }

        .logo-subdetail {
          font-size: 4.2vw;
          line-height: 4.4vw;
        }
      }

    }
    }
}

.entry-box {
  width: 68%;
  position: absolute;
  top: 0;
  right: 0;
  background: #293F4E;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 3vw;


  .entry-detail-box {
    padding: 0 3vw 0 0;
    border: solid #F9BD28;
    border-width: 0 1px 0 0;
    width:45%;

    .entry-detail {
      font-size: 2.7vw;
      line-height: 2.6vw;
      font-weight: 700;
      white-space: nowrap;
    }
    .entry-subdetail {
      font-size: 1.2vw;
      line-height: 1.7vw;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .entry {
    margin: 0 0 0 3.5vw;
    width:55%;

    .input-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 10px 0px;
      width: 100%;
    }
    
    .input-text {
      height: 40px;
      padding: 0 10px;
      text-align: left;
    }
    .btn-submit { 
      height: 40px;
      width: 123px;
      background-color: #F7B60A;
      border: 1px black solid;
      margin-left:15px;
      padding:5px;
      font-weight: 900;
      border-radius: 0px;
    }
  }

  
  @media(max-width:767px) {
    position: relative;
    padding: 30px 0;
    width:100%;
    flex-direction: column;

    .entry-detail-box {
      padding: 0 0 30px 0;
      border: solid #F9BD28;
      border-width: 0 0 1px 0;
      width:70%;

      .entry-detail {
        font-size:30px;
        line-height:29px;
      }
      .entry-subdetail {
        font-size:16px;
        line-height:20px;
      }
    }

    .entry {
      margin: 30px 0 0 ;
      width:70%;
    }

  }

  @media(max-width: 500px) {
    .entry, .entry-detail-box {
      width:87%;
    }
  }

}

header,.fwimg {
  height: 100%;
}
