@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/owl.carousel/src/scss/owl.carousel";
@import "../../node_modules/include-media/dist/include-media";

@font-face {
    font-family: 'TedNext-Regular';
    src: url('../fonts/TedNext-Regular.eot');
    src: url('../fonts/TedNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TedNext-Regular.woff2') format('woff2'),
         url('../fonts/TedNext-Regular.woff') format('woff'),
         url('../fonts/TedNext-Regular.ttf') format('truetype'),
         url('../fonts/TedNext-Regular.svg#TedNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TedNext-Semibold';
    src: url('../fonts/TedNext-Semibold.eot');
    src: url('../fonts/TedNext-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TedNext-Semibold.woff2') format('woff2'),
         url('../fonts/TedNext-Semibold.woff') format('woff'),
         url('../fonts/TedNext-Semibold.ttf') format('truetype'),
         url('../fonts/TedNext-Semibold.svg#TedNext-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TedNext-Bold';
    src: url('../fonts/TedNext-Bold.eot');
    src: url('../fonts/TedNext-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TedNext-Bold.woff2') format('woff2'),
         url('../fonts/TedNext-Bold.woff') format('woff'),
         url('../fonts/TedNext-Bold.ttf') format('truetype'),
         url('../fonts/TedNext-Bold.svg#TedNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
