* {
  margin: 0;
  padding: 0;
}

body {
    background: $color-white;
    color:$color-grey-dark;
    font-family: $site-font1 , sans-serif; //import font from ADOBE FONT
    // font-family: $site-font2, sans-serif; // import font from FONTS FOLDER
    font-style: normal;
}

img
{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

input, select {

  text-align: center;
  border: none;
  width: 100%;
  height: 2.5em;
  font-size: 1.1em;
  padding: 12px 0;

}
input[type=button]{
  cursor: pointer;
  color: $color-grey-dark;
  border-radius: 0px;
}
input[type=submit]{
  color: $color-grey-dark;
  border-radius: 0px;
}
// select {
//   display: block;
//   text-align: center;
//   border: none;
//   width: 100%;
//   font-size: 1.5em;
//   padding: 12px 20px;
//   text-indent: 55px;
// }

select {
  text-align-last: center;
  text-align: center;
}

input[type=file], input[type=file]:hover, input[type=file]:active, input[type=file]:focus,
input[type=radio], input[type=checkbox],
input[type=radio]:focus, input[type=checkbox]:focus,
input[type=radio]:active, input[type=checkbox]:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
input[type=text],
input[type=email],
input[type=password]
{
  border: 1px solid black;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=text]:active,
input[type=email]:active
{
  outline: none;
}
select#province {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/chevdown.png');
  background-position: 96% 50%;
  background-repeat: no-repeat;
  text-align: center !important;
  text-align-last: center !important;
  text-transform: uppercase !important;
  text-align-last: webkit-center !important;
  padding: 10px;
  cursor: pointer;
  background-color: white !important;
  color: black;
  outline: none!important;
  border: 1px solid black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
a:hover sup
{
  display:inline-block;
  line-height:1.1em;
  text-decoration:none;
}

/* Fix Navigation issue on IE9 */ 
// @media (min-width: 768px) { 
//   header { 
//     position: relative; } 
//   .navbar-expand-md .navbar-collapse { 
//     display: block !important; } 
//   .navbar { 
//     display: block; 
//     padding: 14px; } 
//   .navbar-expand-md .navbar-nav { 
//     position: absolute; 
//     right: 0; 
//     top: 5px; 
//     z-index: 999; 
//     padding-right: 10px; } 
//   .nav-item { 
//     display: inline-block !important; } 
//   .nav-link { 
//     display: inline-block !important; } 
//   } 

// 2020 update ----
.container-fluid {
  display:flex;
  flex-direction: column;
  min-height:100vh;
}
sup, sub {
  font-size: 55%;
}

sup {
  top: -.65em;
}